JhcClientVC2019/.vs
JhcClientVC2019/x64/Debug/JhcClient.pdb
JhcClientVC2019/x64/Release/JhcClient.pdb
JhcClientVC2019/UpgradeLog.htm
JhcClientVC2019/JhcClient/x64
JhcServerVC2019/.vs
JhcServerVC2019/x64/Release/JhcServer.pdb
JhcServerVC2019/x64/Debug/JhcServer.pdb
JhcServerVC2019/x64/Debug/JhcServer.exe.manifest
JhcServerVC2019/JhcServer/x64
